.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.button {
    background-color: #f300b4;
    border: none;
    color: purple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
}