.button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    border-radius: 10px;
    background: #d8d1da;
    color: rgb(12, 11, 11);
    padding: 8px 16px;
    font-size: 16px;
}
.button:hover {
    appearance: none;
    border: 0;

    border-radius: 10px;

    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background: #7f0b96;
}
.flex {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}